.App {
    text-align: center;
  display: flex;
  background-color: #2b2c34;
  color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidemenu {
  width: 260px;
  padding: 10px;
  background-color: #202123;
}

.sidemenu-button {
  padding: 12px;
  border: 1px solid white;
  border-radius: 5px;
  text-align: left;
  transition: ease 0.25s all;
}

.sidemenu-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.sidemenu-button span {
  padding-left: 6px;
  padding-right: 12px;
}

.chatbox {
  flex: 1;
  background-color: #343541;
  position: relative;
}

.chat-input-holder {
  padding: 24px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.chat-input-textarea {
  background-color: #40414f;
  padding: 12px;
  width: 90%;
  border-radius: 5px;
  border: none;
  outline: none;
  color: white;
  font-size: 1.25em;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
  }

  .chat-log {
    text-align: left;
  }

  .chat-message.chatgpt {
    background-color: #444654;
  }

  .chat-message-center {
    display: flex;
    padding: 12px;
    padding-left: 24px;
    padding-right: 24px;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
  }

  .avatar {
    background-color: white;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.avatar img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.message {
  padding-left: 40px;
  padding-right: 40px;
}
